{% extends 'permohonan/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Borang Permohonan Privileging</h1>
    <hr>
    <form method="post" enctype="multipart/form-data" class="mb-5">
        {% csrf_token %}
        
        <div class="card mb-4">
            <div class="card-header fw-bold">BAHAGIAN I: MAKLUMAT PEMOHON</div>
            <div class="card-body">
                {{ form_utama|crispy }}
            </div>
        </div>

        {% for formset, title in formset_data %}
        <div class="card mb-4">
            <div class="card-header fw-bold">{{ title }}</div>
            <div class="card-body">
                <div class="formset-container" data-prefix="{{ formset.prefix }}">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        <div class="dynamic-form">
                            <div class="row">
                                <div class="col">
                                    {{ form|crispy }}
                                </div>
                                {% if formset.can_delete %}
                                <div class="col-auto align-self-center">
                                    <button type="button" class="btn btn-danger btn-sm delete-row">Buang</button>
                                </div>
                                {% endif %}
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                    
                    <div class="empty-form" style="display:none;">
                        <div class="row">
                            <div class="col">
                                {{ formset.empty_form|crispy }}
                            </div>
                            {% if formset.can_delete %}
                            <div class="col-auto align-self-center">
                                <button type="button" class="btn btn-danger btn-sm delete-row">Buang</button>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                    
                    <button type="button" class="btn btn-success btn-sm add-row">Tambah</button>
                </div>
            </div>
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary btn-lg">Hantar Permohonan</button>
    </form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $('.formset-container').each(function() {
        var container = $(this);
        var prefix = container.data('prefix');
        var totalFormsInput = $('#id_' + prefix + '-TOTAL_FORMS');

        // --- ADD ROW ---
        container.on('click', '.add-row', function() {
            var formIdx = parseInt(totalFormsInput.val());
            
            // Get the empty form's HTML content
            var emptyFormHtml = container.find('.empty-form').html();
            
            // Replace the __prefix__ placeholder with the new form index
            var newFormHtml = emptyFormHtml.replace(/__prefix__/g, formIdx);
            
            // Create a new div to hold the form and add the dynamic-form class
            var newForm = $('<div class="dynamic-form"></div>').html(newFormHtml);
            
            // Insert the new form before the "Add" button
            $(this).before(newForm);
            
            // Increment the total forms count
            totalFormsInput.val(formIdx + 1);

            // Hide the "Delete" checkbox for the newly added form
            newForm.find('input[type="checkbox"][id$="-DELETE"]').closest('.mb-3').hide();
        });

        // --- DELETE ROW ---
        container.on('click', '.delete-row', function() {
            var formRow = $(this).closest('.dynamic-form');
            var deleteInput = formRow.find('input[id$="-DELETE"]');

            if (deleteInput.length && deleteInput.attr('id').indexOf('__prefix__') === -1) {
                // This is an existing form (not a template), so mark it for deletion
                deleteInput.prop('checked', true);
                formRow.hide();
            } else {
                // This is a new form that hasn't been saved, so just remove it from the DOM
                formRow.remove();
                
                // After removing a new form, we need to re-index the remaining new forms
                var totalForms = parseInt(totalFormsInput.val());
                totalFormsInput.val(totalForms - 1);
                
                var forms = container.find('.dynamic-form');
                for (var i = 0; i < forms.length; i++) {
                    var form = forms.eq(i);
                    form.find(':input, label').each(function() {
                        var el = $(this);
                        ['id', 'name', 'for'].forEach(function(attr) {
                            var val = el.attr(attr);
                            if (val) {
                                var new_val = val.replace(new RegExp(prefix + '-\\d+-'), prefix + '-' + i + '-');
                                el.attr(attr, new_val);
                            }
                        });
                    });
                }
            }
        });

        // Hide the "Delete" checkbox and its label for a cleaner UI on initial page load
        container.find('.dynamic-form').each(function() {
            $(this).find('input[type="checkbox"][id$="-DELETE"]').closest('.mb-3').hide();
        });
    });
});
</script>
{% endblock %}